@using Glass.Mapper.Sc
@{
    var cssClass = GlassHtml.IsInEditingMode ? "sc-page-edit" : null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
    <title>@ViewBag?.Title</title>
    @RenderSection("head", required: true)
    @SymDemo.
</head>
    <body class="@cssClass">
        @RenderBody()
        @Html.WriteScripts()
        @RenderSection("bottom", required: false)
    </body>
</html>